@model CarRentalEmployeeApp.ViewModels.CreateBrandViewModel

<h2>Marka Ekle</h2>

<div asp-validation-summary="ModelOnly"
     class="alert alert-danger"></div>

<form asp-action="CreateBrand" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <input asp-for="Name"
               class="form-control @(ViewData.ModelState["Name"]?.Errors.Any() == true ? "is-invalid" : "")"
               placeholder="Marka Adı" />

        <span asp-validation-for="Name"
              class="text-danger small"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Kaydet
    </button>

    <a asp-action="GetCarAll" class="btn btn-secondary">
        Geri
    </a>
</form>


