@{
    ViewData["Title"] = "EmployeeDashboard";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="d-flex justify-content-center align-items-center flex-column" style="min-height:70vh;">
    <h2 class="mb-4">Hoşgeldiniz, @User.FindFirst("Name")</h2>

</div>

@section Scripts {
    <!-- Gerekirse JS kodları buraya -->
}
